	<div class="row">
		<h2>Mohit Manglani</h2>
	</div>
	
	<div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left img-circle" src="https://avatars1.githubusercontent.com/u/38598962?v=4">
          <div class="content-heading"><h3>About</h3></div>
          <p class="paragraph">{{introDetails.introduction}}</p>
          <button class="btn btn-info download-button" (click) = "downloadPdf()" style="padding: 10px;">
            <i class="fa fa-download"></i> Download Resume
          </button>
        </div>
     </div>
     
  </div>

  <hr class="hr1"><br> 