

<div class="container">
<title>{{title}}</title>
  <app-introduction></app-introduction>
  
	<!-- <div class="row">
		<h2>Mohit Manglani</h2>
	</div> -->
	
	<!-- <div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left img-circle" src="https://avatars1.githubusercontent.com/u/38598962?v=4"/>
          <div class="content-heading"><h3>About</h3></div>
          <p class="paragraph">I am Software engg. by profession. Currently working at Searce,inc.</p>
          <button class="btn btn-info download-button" style="padding: 10px;">
            <i class="fa fa-download"></i> Download Resume
          </button>
        </div>
     </div>
     
  </div>

  <hr class="hr1"><br>  -->

  <div class="container-child">
    <app-projects></app-projects>
    <!-- <h2>Projects</h2>
    <div class="projects-details">
      
      <div class="v1">
        <h2 style="padding:8px; ">Test1</h2>
        <p style="padding:8px;">Description Not Available</p>
        <a style="padding:8px;" class="btn btn-primary" href="https://github.com/mohitmanglani2906/Android-Samples" role="button" target="_blank">View On Github</a>
        <hr>

        <h2 style="padding:8px; ">Test2</h2>
        <p style="padding:8px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi unde quod delectus rem optio numquam sequi temporibus reprehenderit consequuntur nihil praesentium repellendus laborum voluptate, maiores porro vitae fuga itaque. Sit!</p>
        <a style="padding:8px;" class="btn btn-primary" href="https://github.com/mohitmanglani2906/Android-Samples" role="button" target="_blank">View On Github</a>
        <hr>

        <h2 style="padding:8px; ">Test3</h2>
        <p style="padding:8px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi unde quod delectus rem optio numquam sequi temporibus reprehenderit consequuntur nihil praesentium repellendus laborum voluptate, maiores porro vitae fuga itaque. Sit!</p>
        <a style="padding:8px;" class="btn btn-primary" href="https://github.com/mohitmanglani2906/Android-Samples" role="button" target="_blank">View On Github</a>
        <hr>

        <h2 style="padding:8px; ">Test4</h2>
        <p style="padding:8px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi unde quod delectus rem optio numquam sequi temporibus reprehenderit consequuntur nihil praesentium repellendus laborum voluptate, maiores porro vitae fuga itaque. Sit!</p>
        <a style="padding:8px;" class="btn btn-primary" href="https://github.com/mohitmanglani2906/Android-Samples" role="button" target="_blank">View On Github</a>
        <hr>

        
      </div>
    </div> -->
  </div>
  
  <div class="container-child">
    <app-skills></app-skills>
    <!-- <h2>Skills</h2>
    <div class="skills-details">
        <div class="v1">
          <h2 style="padding:8px; ">Technology</h2>
          <p style="padding:8px;">Java, Node Js, Python</p>
          <hr>

          <h2 style="padding:8px; ">FrameWork</h2>
          <p style="padding:8px;">Spring Boot, Angular 7, Django</p>
          <hr>

          <h2 style="padding:8px; ">Cloud</h2>
          <p style="padding:8px;">GCP, Heroku</p>
          <hr>
        </div>
    </div> -->

  </div>
  
  
  <app-footer></app-footer>
  
  
</div>





<router-outlet></router-outlet>
